{% extends 'base.html.twig' %}

{% set title = 'projects' | trans %}

{% block content %}

    <div class="grid-70 push-30 mobile-grid-100">
        &nbsp;
    </div>

    <div class="grid-30 pull-70 mobile-grid-100">
        {% include 'projects/panels.html.twig' %}
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/projects/panels.js') }}"></script>

{% endblock %}
