<div id="vue-group" v-cloak>

    <div v-if="applicationId === 'group'" class="grid-70 push-30 mobile-grid-100">
        <div class="grid-row">
            <tabs>
                <tab id="group" title="{{ 'group' | trans }}">
                    {% include 'projects/group/tab_group.html.twig' %}
                </tab>
            </tabs>
        </div>
    </div>

    <modal ref="dlgEditGroup" header="{{ 'group.edit' | trans }}" @submit="updateGroup">
        {% include 'projects/group/dlg_group.html.twig' with { new: false } %}
    </modal>

</div>
