APP_ENV=dev
APP_SECRET=70199acf0b2a983abf62b8d6e090108c

# Appearance
ETRAXIS_LOCALE=en_US
ETRAXIS_THEME=azure

# For a MySQL database, use: "mysql://user:password@127.0.0.1:3306/etraxis?charset=utf8mb4&server_version=5.7"
# For a PostgreSQL database, use: "pgsql://user:password@127.0.0.1:5432/etraxis?charset=utf8&server_version=9.5"
DATABASE_URL=mysql://root:secret@127.0.0.1/etraxis?charset=utf8mb4&server_version=5.7

# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost

# Name and address of the notifications bot
MAILER_ADDRESS=etraxis@example.com
MAILER_NAME=eTraxis

# Path to the directory where attachments are stored
FILES_STORAGE=../var/files

# Maximum allowed size of a single attachment in megabytes
FILES_MAXSIZE=10

# Available schemes: "none://" (disabled), "ldap://" (no encryption), "ldaps://" (encrypted)
# Available server types: "posix" (default), "win2000" (Windows Server), "winnt" (Windows NT/95/98)
# Available encryption modes: "none" (default), "ssl", "tls"
LDAP_URL=none://user:password@ldap.example.com:389?type=posix&encryption=none
LDAP_BASEDN=dc=example,dc=com
