{% extends 'base.html.twig' %}

{% set title = 'users' | trans %}

{% block content %}

    <div class="grid-row" id="vue-users" v-cloak>
        <div class="grid-100">

            <datatable ref="users" name="users" :columns="columns" :data="users" @check="onCheck" @click="viewUser">
                <span class="buttonset">
                    <button class="fa fa-lock" title="{{ 'button.disable' | trans }}" :disabled="checked.length === 0" @click="disableUsers"></button>
                    <button class="fa fa-unlock-alt" title="{{ 'button.enable' | trans }}" :disabled="checked.length === 0" @click="enableUsers"></button>
                </span>
            </datatable>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        eTraxis.currentUser = {{ app.user.id }};
    </script>

    <script src="{{ asset('js/security/users/index.js') }}"></script>

{% endblock %}
