@import "../etraxis.less";

@color1: #8bc5e1;
@color2: #5ca7cb;
@color3: #3a8eb7;
@color4: #1d79a6;
@color5: #095e87;

@theme: #3a8eb7;

@pending: @color3;

@nav-gradient-from: @color2;
@nav-gradient-to: @color3;
@nav-hover-gradient-from: @color1;
@nav-hover-gradient-to: @color2;
@nav-text: @background;

@widget-focus: @color3;

@panel-gradient-from: @nav-gradient-from;
@panel-gradient-to: @nav-gradient-to;
@panel-text: @nav-text;

@modal-gradient-from: @nav-gradient-from;
@modal-gradient-to: @nav-gradient-to;
@modal-text: @nav-text;

@tabs-gradient-from: @nav-gradient-from;
@tabs-gradient-to: @nav-gradient-to;

@table-gradient-from: @nav-gradient-from;
@table-gradient-to: @nav-gradient-to;
