<div id="vue-state" v-cloak>

    <div v-if="applicationId === 'state'" class="grid-70 push-30 mobile-grid-100">
        <div class="grid-row">
            <tabs>
                <tab id="state" title="{{ 'state' | trans }}">
                    {% include 'projects/state/tab_state.html.twig' %}
                </tab>
            </tabs>
        </div>
    </div>

</div>
